<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.josie.canitford-sweep</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/josie/can-it-ford/_inbox/canitford_inbox_sweep.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>7200</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/josie/can-it-ford/_inbox/.sweep_stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/josie/can-it-ford/_inbox/.sweep_stderr.log</string>
</dict>
</plist>
